## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [6]:
# Your code here
sample_list_1 = random.sample(range(101),80)

print(sample_list_1)

[3, 66, 79, 6, 100, 61, 77, 41, 1, 13, 37, 17, 46, 62, 51, 94, 42, 54, 22, 71, 99, 87, 16, 10, 88, 31, 34, 91, 80, 68, 84, 47, 52, 48, 35, 82, 81, 24, 72, 93, 38, 69, 65, 57, 95, 27, 64, 40, 97, 0, 36, 30, 89, 14, 12, 33, 83, 60, 76, 19, 96, 67, 15, 90, 21, 18, 49, 11, 39, 70, 23, 4, 20, 92, 2, 74, 26, 7, 98, 73]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [55]:
# Your code here
set1= set(sample_list_1)

print(type(set1))
print(len(set1)) #The lenght is still 80 because the values were unique

<class 'set'>
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [42]:
# Your code here
import random
sample_list_2 = []
for i in range(0,80):
    n = random.randint(0,101)
    sample_list_2.append(n)
print(sample_list_2)

[78, 70, 60, 92, 25, 18, 52, 62, 94, 64, 70, 62, 97, 0, 74, 74, 66, 88, 84, 41, 99, 85, 60, 63, 4, 29, 24, 85, 67, 85, 43, 93, 5, 90, 101, 18, 74, 99, 32, 78, 55, 84, 72, 25, 23, 90, 49, 67, 42, 88, 0, 36, 79, 0, 85, 24, 20, 71, 6, 88, 91, 100, 74, 93, 99, 87, 22, 8, 2, 23, 78, 90, 75, 93, 74, 22, 19, 46, 51, 97]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [43]:
# Your code here
set2= set(sample_list_2)
print(len(set2)) # The lenght is less than 80 becuase the values were not unique

50

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [44]:
# Your code here
set3 = set1.difference(set(set2))
print(set3)

{1, 3, 7, 10, 11, 12, 13, 14, 15, 16, 17, 21, 26, 27, 30, 31, 33, 34, 35, 37, 38, 39, 40, 47, 48, 54, 57, 61, 65, 68, 69, 73, 76, 77, 80, 81, 82, 83, 89, 95, 96, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [45]:
# Your code here
set4 = set2.difference(set(set1))
print(set4)

{32, 5, 101, 8, 43, 75, 78, 85, 55, 25, 29, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [56]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{0, 2, 4, 6, 18, 19, 20, 22, 23, 24, 36, 41, 42, 46, 49, 51, 52, 60, 62, 64, 66, 67, 70, 71, 72, 74, 79, 84, 87, 88, 90, 91, 92, 93, 94, 97, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [61]:
# Your code here
print(len(set1) > len(set2))
len(set2)
len(set3)
len(set4)
len(set5)

True
False

38

#### Create an empty set called `set6`.

In [48]:
# Your code here
set6 = set()
print(type(set6))

<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [49]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 2, 3, 4, 6, 7, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 46, 47, 48, 49, 51, 52, 54, 57, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 79, 80, 81, 82, 83, 84, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [50]:
# Your code here
print(set1 == set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [51]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [52]:
# Your code here
set7= set.union(set3,set4,set5)
set8= set.union(set1,set2)

print(set7 == set8)

True

#### Using the `pop` method, remove the first element from `set1`.

In [54]:
# Your code here
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [65]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]


for element in list_to_remove:
    if element in set1:
        set1.remove(element)
        
print(set1)

print(len(set1))

{0, 2, 3, 4, 6, 7, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 26, 27, 30, 33, 34, 35, 36, 37, 38, 40, 42, 46, 47, 48, 52, 54, 57, 60, 62, 64, 65, 66, 67, 68, 70, 72, 73, 74, 76, 77, 80, 82, 83, 84, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98, 100}
63